body {
  margin-bottom: 3rem;
}

.form-inline .form-group {
  margin-right: 1rem;
}

.form-inline .form-group label {
  margin-right: 0.5rem;
}

.link-group > a {
  margin-right: 1.5rem;
  cursor: pointer;
}

.link-group > a:last-child {
  margin-right: 0;
}